/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #363636; /* Dark gray background */
  color: #fff; /* White text */
}


/* Navigation (TOC) Styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  margin-right: 20px;
  border-right: 1px solid #555; /* Darker border */
  padding: 20px;
  overflow-y: auto;
  font-family: "Times New Roman", "Times", serif;
  font-size: 16px;
  background-color: #000; /* Black background for nav */
  color: #fff; /* White text for nav */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Darker shadow */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #aaa; /* Light gray links */
  transition: background-color 0.2s ease;
}

nav li a:hover {
  background-color: #555; /* Dark gray hover */
  color: #fff; /* White text on hover */
}


/* Main Content Styles */
article {
  margin-left: 260px;
  overflow: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  nav {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    position: static;
  }
}

/*Back to home link*/
.back-to-home {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #555;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}